@font-face {
  font-family: vectro;
  src: url(/components/fonts/VECTRO-Bold.otf);
}

@font-face {
  font-family: butter;
  src: url(/components/fonts/BUTTERSHINE\ SERIF.otf);
}

@font-face {
  font-family: afterg;
  src: url(/components/fonts/Afterglow-Regular.ttf);
}
